doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://cdn.sencha.com/ext/gpl/4.2.1/ext-all.js')
    link(rel='stylesheet', href='http://cdn.sencha.com/ext/gpl/4.2.1/resources/ext-theme-gray/ext-theme-gray-all.css')
  body
    block content